/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 100vh;
  }

  /* Main Content */ 
  main {
    flex: 1;
    padding: 2rem;
    margin: 1rem;
    margin-top: -3rem;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  #apply-leave {
  margin-top: -1rem;
  }
  #apply-leave h2,
  #leave-calendar h2 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 1rem;
  }
  
  #leave-form label {
    display: block;
    margin-bottom: 0.5rem;
    color: #555;
  }
  
  #leave-form input,
  #leave-form select,
  #leave-form textarea {
    width: 85%;
    padding: 0.8rem;
    margin-bottom: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
    resize: none;
  }
  
  #leave-form button {
    padding: 0.8rem 1.5rem;
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    margin-top: -0.6rem;
  }
  #leave-form button {
    padding: 0.8rem 1.5rem;
    /* background-color: var(--primary-color); */
    box-shadow: 2px 2px 5px rgb(137, 122, 122);
    outline: none;
    background-color: var(--secondory-color);
    color: rgb(246, 242, 242);
    border: 1px solid;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
  }
    #leave-form button:hover {
    background-color: var(--primary-color);
    background-color:   hsl(80, 50%, 36%);
    /* background-color: var(--primary-color); */
    color: rgb(241, 238, 238);
    border: 1px solid;
  }
  
  #leave-calendar {
    margin-top: 2rem;
  }
  
  /* Footer */
  footer {
    text-align: center;
    padding: 1rem;
    background-color: #2c3e50;
    color: #fff;
    margin-top: auto;
  }
  

  main table{
    width: 50vw !important;
  background-color: red !important;

  }