@media (max-width: 1024px) {
  .sidebar.menu-active {
    height: 80vh;
  }
  
  .sidebar-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.5);
    z-index: 10;
    display: none;
  }
  
  .sidebar.menu-active + .sidebar-overlay {
    display: block;
  }
}